.featured-post-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}

.featured-post {
  height: 200px;
  width: 50%;
  color: black;
  margin: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-post:hover {
  text-align: center;
  font-family: HANDSIGN;
  font-size: 35px;
  font-weight: lighter;
}

@media (max-width: 900px) {
  .featured-post-container {
    flex-direction: column;
    align-items: center;
  }
  .featured-post {
    height: 200px;
    width: 80%;
    margin: 10px;
  }
}
