.about-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 150px;
  padding: 20px;
  width: 100%;
  background-color: black;
}

.about-text {
  text-align: center;
  text-transform: uppercase;
  color: #bfac6e;
  font-size: 26px;
  font-weight: bold;
}
