.header-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container img {
  max-height: 300px;
}

.header-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  padding: 15px;
  height: 270px;
  width: 270px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 150px;
  text-align: center;
}

.home-video {
  height: 500px;
  width: 500px;
}

.overlay-logo {
  width: 150px;
  padding-top: 60px;
}

.overlay-text {
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.overlay-about {
  padding-top: 20px;
  font-weight: bold;
}

.overlay-text:hover {
  font-family: HANDSIGN;
  font-size: 37px;
  font-weight: normal;
  padding-top: 0;
}
