.navbar-container {
  opacity: 0.8;
  height: 70px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.small-navbar {
  opacity: 0.8;
  background: white;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.small-navbar ul {
  margin-top: 0;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #bfac6e;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.navbar ul {
  padding: 0 15px 0 0;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}

.nav-logo {
  height: 70px;
  margin-left: 10px;
}

.navbar-contact {
  display: flex;
  flex-direction: column;
}

.navbar-contact p,
.navbar-contact a {
  margin: 0;
  font-size: 0.75em;
}

@media (max-width: 900px) {
  .navbar ul {
    padding: 10px 0;
    text-align: center;
  }
  .navbar li {
    padding: 10px 0;
    display: block;
    margin-left: 0;
  }
  .nav-logo {
    margin: 0;
  }
  .navbar-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    position: inherit;
    background: none;
    opacity: 1;
  }
}
