.blog-heading {
  text-transform: uppercase;
  color: #245031;
  font-size: 26px;
  font-weight: bold;
  padding-top: 30px;
  height: 40px;
}

.blog-heading:hover {
  font-family: HANDSIGN;
  font-size: 35px;
  font-weight: normal;
}

.blog {
  padding: 0 40px;
}

.blog-content-wrapper {
  display: flex;
  flex-direction: row;
}

.blog-content {
  padding-right: 20px;
  width: 50%;
}

.blog-content blockquote {
  font-style: italic;
  font-size: larger;
}

.blog-only-content {
  width: 100%;
}

.blog-only-content img {
  max-width: 500px;
}

.blog-only-content blockquote {
  font-style: italic;
  font-size: x-large;
}

.blog-date {
  font-size: smaller;
  font-style: italic;
  padding-top: 5px;
}

.blog-video {
  width: 50%;
  height: 400px;
  padding: 20px 20px 20px;
}

@media (max-width: 900px) {
  .blog-content-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .blog-content,
  .blog-video {
    width: 90%;
    padding: 0;
  }
  .blog-heading,
  .blog-date {
    text-align: center;
  }
  .blog-only-content img {
    max-width: 300px;
  }
}
